#!/bin/sh
#
# PROVIDE: netbox
# REQUIRE: LOGIN postgresql redis
# KEYWORD: shutdown

. /etc/rc.subr

name="netbox"
rcvar="netbox_enable"

netbox_dir="@@NETBOX_DIR@@"
netbox_user="@@NETBOX_RUN_USER@@"
pidfile="${netbox_dir}/netbox.pid"
command="${netbox_dir}/venv/bin/gunicorn"
command_args="--daemon --pid ${pidfile} --pythonpath ${netbox_dir}/netbox --config ${netbox_dir}/gunicorn.conf.py netbox.wsgi"
command_interpreter="${netbox_dir}/venv/bin/python"

start_precmd="netbox_prestart"
netbox_prestart()
{
    cd "${netbox_dir}" || return 1
}

load_rc_config $name
run_rc_command "$1"
